Create a list of five fruits and print using a loop

In [ ]:
fruits=["apple","banana","cherry","orange","pineapple"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry
orange
pineapple

Tuple of three items name,age and city

In [ ]:
info=("Ali",14,"Gujranwala")
print("name:",info[0])
print("age:",info[1])
print("city",info[2])

name: Ali
age: 14
city Gujranwala

Dictionary with student name,class and score

In [ ]:
student={"name":"Ali","class":"9th","score":56}
print("Keys:",student.keys())
print("Values:",student.values())

Keys: dict_keys(['name', 'class', 'score'])
Values: dict_values(['Ali', '9th', 56])

Update the list by adding or removing items

In [ ]:
items=["Gun","Bat","Boll"]
items.append("pen")
items.remove("Gun")
print("updated List:",items)

updated List: ['Bat', 'Boll', 'pen']

Use a loop for count in list and print len()

In [ ]:
fruits=("apple","banana","orange")
count=0
for f in fruits:
  count+=1
print("using a loop",count)
print("using a len()",count)

using a loop 3
using a len() 3

Check if a value exist in tuple

In [ ]:
tuple=("Ali","sidhu","husnain")
if "Ali" in tuple:
  print("Ali exist in tuple")

Ali exist in tuple

In [ ]:
del tuple

Convert a list to tuple

In [ ]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4]
Tuple: (1, 2, 3, 4)

Dictionary of three students,print name who score>80

In [ ]:
marks={"Ali":99,"sidhu":100,"husnain":98}
for name,score in marks.items():
   if score > 80:
    print("name","score >80")

name score >80
name score >80
name score >80

Tuple of mixed data,print type of each item

In [ ]:
tuple=("apple",56,56.7,True)
for item in tuple:
  print("type of",item,"is",type(item))

type of apple is <class 'str'>
type of 56 is <class 'int'>
type of 56.7 is <class 'float'>
type of True is <class 'bool'>